DATABASE_URL="postgresql://user:pass@host:5432/deepframe"
NEXTAUTH_SECRET="changeme-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

RESEND_API_KEY=""
MAIL_FROM="Deepframe <contact@deepframe.cc>"
MAIL_FOUNDERS="papi@deepframe.cc,louisia@deepframe.cc,ty@deepframe.cc"

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""

UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=""
RECAPTCHA_SECRET_KEY=""
